{% extends 'shared/layout/base.html.twig' %}
{% block title 'Contacts favoris' %}

{% block header %}
    {% embed "shared/component/_header.html.twig" %}
        {% block header_title  'Contacts favoris' | title %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('app_index') }}" class="btn btn-white btn-dim btn-outline-light">
                    {{ 'arrow-long-left' | icon }}
                    <span>Tous les contacts</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% if data | length > 0 %}
        <div class="row g-gs">
            {% for contact in data %}
                <div class="col-sm-6 col-lg-4 col-xxl-3">
                    {% include 'component/_contact_card.html.twig' with {contact: contact} %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="card card-stretch">
            <div class="card-body">
                <div class="d-flex justify-content-center align-center">
                    <div class="nk-block-content nk-error-ld text-center">
                        <h1 class="nk-error-head">{{ 'alert' | icon }}</h1>
                        <h3 class="nk-error-title">Vous n'avez aucun contact favoris</h3>
                        <a href="{{ path('app_index') }}" class="btn btn-lg btn-primary mt-2">
                            Tous vos contacts
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
