<div class="card h-100">
    <div class="card-inner">
        <div class="project">
            <div class="project-head"><a href="/demo2/apps-kanban.html" class="project-title">
                    <div class="project-info">
                        <h6 class="title">Dashlite Development</h6>
                        <span class="sub-text">Softnio</span>
                    </div>
                </a>
            </div>
            <div class="project-details"><p></p></div>
            <div class="project-meta">
                <ul class="project-users g-1">
                    <li>
                        <div class="user-avatar sm bg-primary"><span>A</span></div>
                    </li>
                    <li>
                        <div class="user-avatar sm bg-blue"><img src="/demo2/images/avatar/b-sm.jpg" alt=""></div>
                    </li>
                    <li>
                        <div class="user-avatar bg-light sm"><span>+12</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>